section {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: auto;
}

div {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: none;
    height: auto;
    width: auto;
    margin: 0px;
    /* border: solid black 1px; */
    /* background-color: aqua; */
}

.active {
    background-color: aqua;
}